* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(250, 251, 255);
  padding: 5px;
  color: rgb(20, 38, 104);
}

.page-container {
  display: flex;
  height: 100vh;
}

.aside-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.aside-header {
  text-align: center;
  padding: 10px;
}
.aside-search {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 10px;
  color: rgb(159, 165, 179);
  height: 25px;
  padding: 5px;
  margin-top: 5px;
  font-size: 10px;
  width: 100%;
}

.aside-items-top ul {
  list-style: none;
  margin-top: 10px;
}

.aside-items-top li {
  margin-bottom: 10px;
}

.aside-container li i.fa-solid,
li i.fa-regular {
  margin-right: 15px;
}

#projects {
  border: 1px solid rgb(229, 235, 255);
  background-color: rgb(229, 235, 255);
  border-radius: 10px;
}

.aside-items-first {
  margin-bottom: 100px;
}

.aside-items-first > li,
.aside-items-second li {
  padding: 7px;
  font-size: 0.8em;
}

.number {
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.aside-items-status {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 25px;
  background-color: white;
  display: flex;
}

.name {
  font-weight: bold;
  font-size: 11px;
}
.name-icon {
  padding: 5px;
}
.name-icon img {
  width: 30px;
  height: 30px;
}

.online {
  display: flex;
  flex-direction: column;
}

.status {
  color: rgb(151, 148, 148);
  font-weight: bold;
  font-size: 8px;
}
.content-container {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
  flex: 1;
  padding: 15px;
  background-color: rgb(255, 255, 255);
}

.task {
  display: flex;
  align-items: baseline;
  gap: 15px;

  font-size: 15px;
}

.task h4 {
  font-weight: 10px;
}

.underlined {
  border-bottom: 1px solid rgb(3, 9, 47);
}

.task-heading {
  display: flex;
  gap: 10px;
  font-size: 10px;
  margin-top: 10px;
}

img {
  width: 20px;
  height: 20px;
}
.task-name {
  margin-top: 5px;
  color: rgb(159, 165, 179);
}

.tasks {
  border-bottom: 2px solid rgb(171, 171, 171);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 12px;
  gap: 50px;
  font-family: "Josefin Sans", sans-serif;
}
.tasks ul {
  list-style: none;
  display: flex;
}

.tasks-menu li {
  margin-right: 10px;
}

.tasks-card {
  border: 1px solid rgb(250, 179, 22);
  border-radius: 20px;
  background-color: rgb(250, 179, 22);
  padding: 4px;
  height: 25px;
}

.progress {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
  height: 100;
  margin-top: 9px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
}

.not-now,
.done {
  background-color: rgb(241, 241, 241);
  height: 30px;
  display: flex;
  align-items: center;
}

.done {
  padding: none;
}

.not-now h4,
.done h4 {
  margin: 10px 10px;
}

.not-now-count {
  color: rgb(151, 148, 148);
}

.triage span {
  color: rgb(151, 148, 148);
  margin-left: 10px;
  font-weight: lighter;
}

.progress-chart {
  padding: 15px;
}

.triage {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
  margin-top: 9px;
  display: flex;
  gap: 100px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}

.triage h4 {
  padding: 10px;
}

.bp {
  display: flex;
  gap: 20px;
  margin-top: 9px;
}

.first-bp,
.second-bp {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
  padding: 5px;
}

.bp-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 12px;
}

.bp-content {
  display: flex;
  gap: 10px;
  align-items: baseline;
  color: rgb(151, 148, 148);
  font-size: 10px;
}

.done {
  background-color: rgb(238, 249, 236);
}

.progress-first {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  gap: 10px;
}

.figuring {
  border: 1px solid rgb(171, 171, 171);
  background-color: rgb(236, 246, 249);
  border-radius: 5px;
}

.in-progress {
  border: 1px solid rgb(171, 171, 171);
  background-color: rgb(229, 225, 248);
  border-radius: 5px;
}

.waiting {
  border: 1px solid rgb(171, 171, 171);
  background-color: rgb(249, 240, 225);
  border-radius: 5px;
}
